<h1>Users:</h1>
<% if (users.length) { %>
  <ul>
    <% users.forEach(function(user){ %>
      <li><%= user.email %></li>
    <% }) %>
  </ul>
<% } %>

<h1>User auth:</h1>
<% if (req.user) { %>
  <ul>
      <li><%= userAuth.username %></li>
  </ul>
<% } %>



